
<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-2">
    <img class="UserLogo" src="./assets/images/user.png" width="200px" height="200px">
    <p style="margin:0px 35px;font-family:Arial,sans-serif;font-size:28px;font-weight:bold;">Welcome</p>
  </div>
<!--start-->
  <div class="col-8">
    <br>
    <p style="font-family:Andale Mono, monospace;"><b>Projects</b></p>
    <hr>
    <section *ngFor="let item of datas" class="Projects-section">
      <div  class="Projects-div">
        <table style="margin:20px 70px;">
          <tr>
            <th colspan="2">
              <button  class="myButton" (click)="choose_repo($event)" id = "{{item.projectId}}">{{item.projectName}}</button>
            </th>
            <th class="public-project"><p style="width:45px;border:1px solid #DED0CE;border-radius:5px;">Public</p></th>
            <th><button class="delProject-btn" (click)="delete_repo([item.projectId])" ><img src="./assets/images/close.png" width="25px" height="25px"></button></th>
          </tr>
          <tr>
            <td><p class="td-repos"><b>repo amount : </b>{{item.gitRepoCount}}</p></td>
            <td><p class="td-description"><b>description : </b>{{item.projectDescription}}</p></td>
            <td><p class="td-startTime"><b></b>{{item.projectStartTime}}</p></td>
            <td></td>
          </tr>
        </table>
      </div>
    </section>
  </div>


</div>
<app-footer></app-footer>



