.HeadSticker {
  display: block;
  margin: 0px auto;
  margin-top: 50px;
}

.welcome {
  display: block;
  margin: 10px auto;
  color:#808B96;
  font-family:Arial,sans-serif;
  font-size:28px;
  font-weight:bold;
  text-align: center;
  text-transform:uppercase;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Projects-section {margin:30px 20px;}

.Projects-div {
  border-radius:7px;
  border:1px solid #DED0CE;
  width:850px;
}

.public-project {
  font-size:12px;
  text-align: center;
  color:#ABB2B9;
  width:px;
  padding:0px 20px;
}

.myButton {
  font-family:Arial,sans-serif;
  font-size:28px;
  font-weight:bold;
  color:#3498DB;
  background-color: #ffffff;
  border:0px;
  width:500px;
  display:inline-block;
  cursor:pointer;
  /*å­—color*/
  text-align:left;
  padding:5px;
  text-decoration:none;
  /*text-shadow:0px 1px 0px #2f6627;*/
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.myButton:hover {text-decoration: underline;}
.myButton:active {
  position:relative;
  top:1px;
}
.myButton:focus {outline:0;}

.delProject-btn {
  background-color:transparent;
  border:0px;
  margin:5px 10px 5px 70px;
}
.delProject-btn:focus {outline:0;}

.td-repos {
  padding:0px 5px;
  font-size:14px;
  color:#808B96;
  width:150px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.td-description {
  padding:0px 5px;
  font-size:14px;
  color:#808B96;
  width:300px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.td-startTime {
  padding:0px 5px;
  font-size:14px;
  color:#85C1E9;
  width:150px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
