
<app-header></app-header>
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-2">
    <br>
    <app-personal-imformation></app-personal-imformation>
  </div>
<!--start-->
  <div class="col-8">
    <br>
    <section *ngFor="let item of datas" class="Projects-section">
      <div  class="Projects-div">
        <table style="margin:20px 70px;">
          <tr>
            <th colspan="2">
              <button  class="myButton" (click)="choose_repo($event)" id = "{{item.projectId}}">{{item.projectName}}</button>
            </th>
            <th class="public-project"><p style="width:45px;border:1px solid #DED0CE;border-radius:5px;">Public</p></th>
            <th><button class="delProject-btn" (click)="delete_repo([item.projectId])" ><img src="./assets/images/close.png" width="25px" height="25px"></button></th>
          </tr>
          <tr>
            <td><p class="td-repos"><b>repo amount : </b><u>{{item.gitRepoCount}}</u></p></td>
            <td><p class="td-description"><b>description : </b><u>{{item.projectDescription}}</u></p></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </section>
  </div>


</div>
<app-footer></app-footer>



