.gradle
.idea
build
dist/
tmp/
app/**/*.js
app/**/*.js.map
node_modules/
bower_components/
.idea/
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
e2e/*.js
e2e/*.map
.DS_Store/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
**/build/
.project
.classpath