<app-project-header></app-project-header>
<meta charset="UTF-8" />
<div class="row" style="padding:10px 100px 10px 100px;">
  <div class="col-2">
    <app-repo-imformation></app-repo-imformation>

  </div>
  <div class="col-8">
    <br>
    <h1>
      SONAR QUBE HISTORY
      <button class="sonar-button" (click)="goToSonarOverview()">Overview</button>
      <button class="sonar-button" (click)="goToSonarHistory()">History</button>
    </h1>
    <h1 style="border-bottom-style: dotted;"></h1>
    <h1>Test</h1>
  </div>
</div>
<app-footer></app-footer>
