.HeadSticker {
  display: block;
  margin: 0px 0;
  margin-top: 50px;
  width:200px;
  height:200px;
}

.welcome {
  display: block;
  margin: 17px 0px;
  color:#808B96;
  font-family:Arial,sans-serif;
  font-size:28px;
  font-weight:bold;
  text-align: center;
  text-transform:uppercase;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.NewProjectTable {
  width:100%;
  height:600px;
  text-align:left;
  margin-left:50px;
}

input[type=text] {
  font-family:Andale Mono, monospace;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius:7px;
  border:1px solid #DED0CE;
}

.input:focus {border:2px solid #7FB3D5;}

.P-URLs {
  padding:15px 0px;
  font-size:14px;
  color:#808B96;
  text-align:left;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.AddUrl {
  height:55px;
  margin-left:3px;
}

.P-name {
  padding:15px 0px;
  font-size:14px;
  color:#808B96;
  text-align:left;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.P-description {
  padding:15px 0px;
  font-size:14px;
  color:#808B96;
  text-align:left;
  width:180px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Description-textarea {
  resize: none;
  font-family:Andale Mono, monospace;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius:7px;
  border:1px solid #DED0CE;
}

.Description-textarea:focus {border:2px solid #7FB3D5;}

.ProjectCreation {
  width:200px;
  height:40px;
  border-radius:7px;
}

.ProjectCreation:focus {outline:0;}

.ProjectCreation:active {
  position: relative;
  top: 1px;
}
